                /* styles.css */

                body {
                    background-color: aqua;
                }

                #table-title {
                    text-align: center;
                }

                thead {
                    border-style: solid;
                }

                table {
                    border-collapse: collapse;
                    border-style: solid;
                    width: 100%;
                }

                th,
                td {
                    border: 1px solid black;
                    padding: 8px;
                    height: 2rem;
                }